@using TurboAzTask.ViewModels
@model HomeViewModel;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<select>
    @foreach (Brand item in Model.Brands)
    {

        <option>@item.Name</option>

        @*<div class="col-2">
                <div class="card m-5 bg-secondary" style="width: 10rem;">
                    <div class="card-body">
                        <p class="card-text text-warning">
                            @item.Name
                        </p>
                    </div>
                </div>
            </div>*@
    }
</select>

<select>

    @foreach (Model item in Model.Models)
    {
        <option>@item.Name</option>
    }

</select>



@*@foreach (Car item in Model.Cars)
{
    <div class="col-4 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
        <div class="card m-5 bg-secondary" style="width: 18rem;">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body">
                <p style="font-size: x-large;">@item.Price <span>$</span></p>
                <h5 class="card-title text-uppercase">@item.BrandName</h5>
                <p class="card-text text-warning">
                    @item.Year @item.ModelName
                </p>
                <a class="btn btn-danger" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">Details</a>
            </div>
        </div>
    </div>
}*@
@for (int i = 0; i < @Model.Cars.Count; i++)
{
    <div class="col-4 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
        <div class="card m-5 bg-secondary" style="width: 18rem;">
            <img class="card-img-top" src="@Model.Images[i].ImageUrl" alt="Card image cap">
            <div class="card-body">
                <p style="font-size: x-large;">@Model.Cars[i].Price <span>$</span></p>
                <h5 class="card-title text-uppercase">@Model.Cars[i].BrandName</h5>
                <p class="card-text text-warning">
                    @Model.Cars[i].Year @Model.Cars[i].ModelName
                </p>
                <a class="btn btn-danger" asp-controller="Home" asp-action="Details" asp-route-id="@Model.Cars[i].Id">Details</a>
            </div>
        </div>
    </div>
}